/*  
	Seth Kvam
	CSCI 102 - Lab 4
	Style sheet for JavaJam Coffee House website  
*/


* { 
	box-sizing: border-box; 
}
body {
	background-image: url("../images/background.gif");
	font-family: Verdana, Arial, sans-serif;
}
footer {
	background-color: #D2B48C;
	font-size: 0.60em;
	font-style: italic;
	text-align: center;
	padding-bottom: 10px;
	border-top: 2px solid #221811;
}
h1 {
	font-size: 3em;
	height: 150px;
	padding-top: 45px;
	padding-left: 220px;
	margin-bottom: 0px;
}
h4 {
	background-color: #D2B48C;
	font-size: 1.2em;
	padding-left: 10px;
	padding-bottom: 5px;
	text-transform: uppercase;
	border-bottom: 2px solid black;
	clear: left;
}
img {
	padding-left: 10px;
	padding-right: 10px;
}
nav {
	float: left;
	width: 200px;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
}
nav a {  text-decoration: none;  }
nav a:link {  color: #FEF6C2;  }
nav a:visited {  color: #D2B48C;  }
nav a:hover {  color: #CC9933;  }
nav ul {
	padding-left: 0em;
	list-style-type: none;
}
header, nav, main, footer, { display: block; }
table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	background-color: #ffffcc;
}
td, th { padding: 10px; }
tr:nth-of-type(odd) {  background-color: #d2b48c;  }
form {
	padding: 2em;
}
label {
	float: left;
	text-align: right;
	width: 8em;
	padding-right: 1em;
}
input, textarea {
	display: block;
	margin-bottom: 1em;
}
audio {
	display: block;
	margin-top: 1em;
}

/* --------------ID's-----------------*/
#wrapper {
	background-color: #231814;
	box-shadow: 0 0 30px #333;
	width: 80%;
	min-width: 900px;
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
}
#header {
	background-color: #D2B48C;
	background-image: url("../images/javajamlogo.jpg");
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-bottom: 0px;
}
#main {
	color: #221811;
	background-color: #FCEBB6;
	display: block;
	margin-left: 200px;
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0em;
	padding-bottom: 2em;
}
#main h2 {
	padding-left: 3em;
	padding-right: 2em;
}
#main h3 {
	padding-left: 3em;
	padding-right: 2em;
}
#main h4 {
	padding-left: 3em;
	padding-right: 2em;
}
#main p {
	padding-left: 3em;
	padding-right: 2em;
}
#main div {
	padding-left: 3em;
	padding-right: 2em;
}
#main ul {
	padding-left: 3em;
	padding-right: 2em;
}
#main dl {
	padding-left: 3em;
	padding-right: 2em;
}
#heroroad {
	background-image: url("../images/heroroad.jpg");
	background-size: 100%;
	height: 250px;
}
#heromugs {
	background-image: url("../images/heromugs.jpg");
	background-size: 100%;
	height: 250px;
}
#heroguitar {
	background-image: url("../images/heroguitar.jpg");
	background-size: 100%;
	height: 250px;
}
#mobile { display: none; }
#desktop { display: inline; }
#mySubmit { margin-left: 9.5em; }

/* --------------CLASSES-----------------*/
.details {
	padding-left: 20%;
	padding-right: 20%;
	overflow: auto;
}
.floatleft {
	float: left;
	padding-left: 20px;
	padding-bottom: 20px;
}


/* --------------TABLETS-----------------*/
@media only screen and (max-width: 1024px) {
	body {
		margin: 0px;
		background-image: none;
	}
	#wrapper {
		width: auto;
		min-width: 0px;
		margin: 0px;
		padding: 0px;
		box-shadow: none;
	}
	#header {
		border-bottom: 5px solid #FEF6C2;
	}
	h1 {
		margin-top: 0px;
		margin-bottom: 0em; /* Lab5 Task6 2.d. says 1em */
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 2.5em;
	}
	nav {
		float: none;
		width: auto;
		padding-top: 0px;
		margin: 10px;
		font-size: 1.3em;
	}
	nav li {
		display: inline-block;
	}
	nav a {
		padding: 1em;
		width: 8em;
		font-weight: bold;
		border-style: none;
	}
	nav ul {
		padding: 0px;
		margin: 0px;
	}
	#heroroad, #heromugs, #heroguitar {
		padding: 0px;
		margin: 0px;		
	}
	#main {
		padding: 0px;
		margin: 0px;
		font-size: 90%;
	}
}


/* --------------SMARTPHONES-----------------*/
@media only screen and (max-width: 768px) {
	#header {
		background-image: url("../images/javajammini.jpg");
		height: 128px;
	}
	h1 {
		font-size: 2em;
		text-align: center;
		padding-left: 0px;
	}
	nav {
		margin: 0px;
	}
	nav a {
		display: block;
		padding: 0.2em;
		width: auto;
		border-bottom: 1px solid #FEF6C2;
	}
	nav li {
		display: block;
	}
	#main {
		padding-top: 1px;
	}
	h2 {
		padding-top: 0.5em;
		padding-right: 0em;
		padding-bottom: 0em;
		padding-left: 0.5em;
		margin-right: 0.5em;
	}
	.details {
		padding-left: 0px;
		padding-right: 0px;
	}
	#heroroad, #heromugs, #heroguitar {
		background-image: none;
		height: auto;
	}
	.floatleft {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	#mobile { display: inline; }
	#desktop { display: none; }
}